<!DOCTYPE html>
<html>
<head>
  <title><%= title %></title>
</head>
<body>
  <h1>Search Results for "<%= searchTerm %>"</h1>

  <% if (users.length === 0) { %>
    <p>No users found.</p>
  <% } else { %>
    <ul>
      <% users.forEach(function(user) { %>
        <li>
          ID: <%= user.id %>,
          Name: <%= user.firstName %> <%= user.lastName %>,
          Email: <%= user.email %>,
          Age: <%= user.age %>
        </li>
      <% }); %>
    </ul>
  <% } %>

  <a href="/">Back to home</a>
</body>
</html>
